/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Cabecera */
header {
    background-color: #3498db;
    padding: 10px;
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Estilos para el footer */
footer {
    background-color: #3498db;
    padding: 10px;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
